# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Translations
*.mo
*.pot

# Flask instance folder
instance/

# Flask webassets cache
.webassets-cache/

# dotenv
.env
.venv

# PyCharm
.idea/

# VS Code
.vscode/

# Editor backups
*~

#prompt file
prompt.txt

# Cert file
*.pem

# Test file
config-*.json
dataset-test*.csv
*result*.json